<div class="container">
    <div class="h3">
        woops it look like you are unauthrize to view this page
    </div>
    <div>
        log in as someone else <br />
        <a asp-controller="Authentication" asp-action="Logout">Logout</a>
    </div>
</div>